#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px, verdana,sans-serif;
}
#boton{
    padding: 0;
    text-align: right;
    position: absolute;

    top: 35%;
    left: 26%;
    height: 70%;
    width: 60%;
}
#boton li{
    display: inline;
    text-align: right;
}

#boton li a{
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: orange;
    color: #fff;
    text-align: right;
}
#boton li a:hover{
    background-color: #2586d7;
    margin-top: 2px;
    padding-bottom: 12px;
    text-align: right;
}
#menu2{
    position: absolute;
    top: 41%;
    left: 25.2%;
    height: 59%;
    width: 10.5%;

    background-color: #D9D909;
    color: #454545;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
#menu2 li{
    display: inline-block;
    list-style: none;
    padding: 8px;
    font: bold 11px, verdana,sans-serif;
}
#menuvertical li a{
    text-decoration: none;
    color: gray;
}
#menuvertical li a:hover{
    background-color: white;
    text-align: right;
    margin-top: 6px;
    padding-bottom: 5px;
}
#banner{
    font: bold 32px broadway, sans-serif;
    text-align: left;
    color: pink;
}
#imagen{
    position:absolute;
    top:42%;
    left: 45%;
    height: 100%;
    width: auto;
}

#presenta{
    position: absolute;
    font: 11px verdana,sans-serif;
    text-align: center;
    color: yellow;

    top: 75%;
    left: 36%;
    height: 13%;
    width: 28%;
    margin: 5px;
    padding: 25px;
    background-color: gray;

    -moz-border-radius:14px;
    -webkit-border-radius:14px;
}
#pie{
    font: 12px verdana,sans-serif;
    text-align: center;
    color: green;
    
}