body{
    background-color: rgb(1, 1, 127);
    background-size: cover;
    background-position: center;
}
#titulo{
    font: bold 42px broadway, sans-serif;
    text-align: center;
    color: yellow;
}
.textos{
    align-items: center;
    font: arial 18px broadway, sans-serif;
    text-align: left;
    color: yellow;
}
#tube{
    padding: 0;
    font: arial 24px broadway, sans-serif;
    text-align: left;
    color: white;
    position: absolute;

    top: 10%;
    left: 48%;
    
}

