@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d5xj2b');
  src:  url('fonts/icomoon.eot?d5xj2b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d5xj2b') format('truetype'),
    url('fonts/icomoon.woff?d5xj2b') format('woff'),
    url('fonts/icomoon.svg?d5xj2b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
